  <!-- Main Nav -->
  {{> master/nav-block}}
  
<div class="main-wrapper">
  <!-- Main Header -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
         <div class="card white darken-1">
          <div class="card-content white-text">
            <h1 class="header center green-text text-darken-4">Welcome to BetParty</h1>
            <div class="row center">
              <p class="header col s12 light grey-text">Let's gamble irresponsibly.</p>
              <p>
                {{#if user}}
                {{> auth/userauthenticated-block}}
                {{else}}
                {{> auth/usernotauthenticated-block}}
                {{/if}}
              </p>
            </div>
          </div>
        </div>
        <br><br>
      </div><!--/.container-->
    </div><!--/.section-->
    <div class="parallax"><img src="/assets/img/benjamins.jpg" alt="All about those Benjamins."></div>
  </div>

  <!-- Main Section -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons mat-icon">assignment_returned</i></h2>
            <h5 class="center">Choose a prop bet ballot.</h5>
            <p class="light">Login and select a ballot to bet on.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons mat-icon">check_circle</i></h2>
            <h5 class="center">Place Your Bets</h5>
            <p class="light">Answer the questions on the ballot.</p>
            {{!-- <form id="ordersForm" action="" method="post">
              <label for="burgerOrder">Place</label>
              <input placeholder="What is your order?" id="burgerOrder" type="text" class="validate">
              <button class="btn waves-effect waves-light" type="submit" id="burgerSubmit" name="action">Place Order
                <i class="material-icons right">chevron_right</i>
              </button>
            </form> --}}
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons mat-icon">monetization_on</i></h2>
            <h5 class="center">Check to see if you won.</h5>
            <p class="light">After the ballot expires, check back to see if you've won!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Section -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <div class="col s12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <h3 class="">Thank you for betting with BetParty!</h3>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.container-->
    </div><!--/.section-->
    <div class="parallax"><img src="/assets/img/phat_stacks_of_cash.jpg" alt="MAKE IT RAIN."></div>
  </div>
</div>
  <!-- Footer -->
  <footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col m9 s12">
          <h5 class="white-text">About BetParty</h5>
          <p class="grey-text text-lighten-4">It's awesome.</p>
        </div>
        <div class="col m3 s12">
          <h5 class="white-text">View Code on GitHub</h5>
          <ul>
            <li><a class="grey-text text-lighten-4" href="https://github.com/greencord/bets" alt="Link to GitHub repository"><i class="material-icons right">laptop</i> GitHub Repo</a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="/assets/app.js"></script>