<div class="col s4 ballot-card">
	<div class="card-panel green white-text center">
		<h3>{{name}}</h3>
		<p>Expires: {{expire_dt}}</p>
		<p><a href="/ballot/{{this.id}}" class="waves-effect waves-light btn-large white green-text">Open Ballot</a></p>
	</div>
</div>